.snowcreditagricoleraty-notenought {
}
.snowcreditagricoleraty-tomuch {
}
.snowcreditagricoleraty-product {
}
.snowcreditagricoleraty-payment-notice {
}
.snowcreditagricoleraty-excluded {
}
.snowcreditagricoleraty-infobox {
	text-align: center
}
.snowcreditagricoleraty-wrongamount {
}
#service-calculate-installment button {
    background: none;
    border: 0px;
    cursor: pointer;
}