<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Snowdog_CreditagricoleRaty>
			<version>1.5.4</version>
			<depends>
				<Mage_Payments />
			</depends>
		</Snowdog_CreditagricoleRaty>
	</modules>
	<global>
		<models>
			<snowcreditagricoleraty>
				<class>Snowdog_CreditagricoleRaty_Model</class>
				<resourceModel>snowcreditagricoleraty_resource</resourceModel>
			</snowcreditagricoleraty>
			<snowcreditagricoleraty_resource>
				<class>Snowdog_CreditagricoleRaty_Model_Resource</class>
				<entities>
					<application>
						<table>snowcreditagricoleraty_applications</table>
					</application>
				</entities>
			</snowcreditagricoleraty_resource>
		</models>
		<helpers>
			<snowcreditagricoleraty>
				<class>Snowdog_CreditagricoleRaty_Helper</class>
			</snowcreditagricoleraty>
		</helpers>
		<blocks>
			<snowcreditagricoleraty>
				<class>Snowdog_CreditagricoleRaty_Block</class>
			</snowcreditagricoleraty>
		</blocks>
		<resources>
			<snowcreditagricoleraty_setup>
				<setup>
					<module>Snowdog_CreditagricoleRaty</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</snowcreditagricoleraty_setup>
			<snowcreditagricoleraty_write>
				<connection>
					<use>core_write</use>
				</connection>
			</snowcreditagricoleraty_write>
			<snowcreditagricoleraty_read>
				<connection>
					<use>core_read</use>
				</connection>
			</snowcreditagricoleraty_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<snowcreditagricoleraty>
				<use>standard</use>
				<args>
					<module>Snowdog_CreditagricoleRaty</module>
					<frontName>snowcreditagricoleraty</frontName>
				</args>
			</snowcreditagricoleraty>
		</routers>
		<translate>
			<modules>
				<Snowdog_CreditagricoleRaty>
					<files>
						<default>Snowdog_CreditagricoleRaty.csv</default>
					</files>
				</Snowdog_CreditagricoleRaty>
			</modules>
		</translate>
		<layout>
			<updates>
				<snowcreditagricoleraty>
					<file>snowcreditagricoleraty.xml</file>
				</snowcreditagricoleraty>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Snowdog_CreditagricoleRaty>
					<files>
						<default>Snowdog_CreditagricoleRaty.csv</default>
					</files>
				</Snowdog_CreditagricoleRaty>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<payment>
			<snowcreditagricoleraty>
				<active>0</active>
				<model>snowcreditagricoleraty/payment</model>
				<title>Credit Agricole Raty</title>
				<min_order_total>500</min_order_total>
				<max_order_total>10000</max_order_total>
				<image_cart>https://ewniosek.credit-agricole.pl/eWniosek/res/CA_grafika/oblicz_raty_duckblue.png</image_cart>
				<image_product>https://ewniosek.credit-agricole.pl/eWniosek/res/CA_grafika/oblicz_raty_duckblue.png</image_product>
				<image_infobox>https://ewniosek.credit-agricole.pl/eWniosek/res/CA_grafika/raty_180x66_gray.png</image_infobox>
				<minimum_product_price>0</minimum_product_price>
				<save_logs>0</save_logs>
			</snowcreditagricoleraty>
		</payment>
		<snowcreditagricoleraty>
		  <webservice>
		    <wsdl_cache_enabled>1</wsdl_cache_enabled>
		    <url>https://ewniosek.credit-agricole.pl/eWniosek/services/EWniosekService?wsdl</url>
		  </webservice>
		  <calculateInstallment>
        <installmentsNo>12</installmentsNo>
		  </calculateInstallment>
		  <sendApplication>
		    <paramAuth>sha256</paramAuth>
		  </sendApplication>
		</snowcreditagricoleraty>
	</default>
</config>
